{% extends 'main.html' %}
{% block content %}
{% load static %}

<main class="auth layout">
    <div class="container" style="align-items: center; justify-content: center;">
        <div class="layout__box">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                    <div class="header__logo">
                        <img src="{% static 'images/logo.svg' %}" />
                        <h1>Change Password</h1>
                    </div>
                </div>
            </div>
            <div class="layout__body">
                <h2 class="auth__tagline">Enter your new password</h2>

                <form class="form" action="" method="POST">
                    {% csrf_token %}
                    <div class="form__group">
                        <label for="new_password">New Password</label>
                        <input id="new_password" name="new_password" type="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" required />
                    </div>

                    <button class="btn btn--main" type="submit">
                        Change Password
                    </button>
                </form>

                <div class="auth__action">
                    <p>Back to login?</p>
                    <a href="{% url 'login' %}" class="btn btn--link">Login</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
